body{
   background-color:#daebf3 ;
}
header{
    
    padding: 20px;
    background-color: rgb(65, 89, 134);

    nav{
        text-align: center;
        a{
            color: aliceblue;
            padding: 5px;
border: 2px solid #000;
        }
    }
    
    
}

